.table-container{
    background-color: #242424;
}

.fila-tabla{
    background-color: #242424;
    color: white;
}

.fila-tabla:hover{
    background-color: #121212;
    cursor: pointer;
}

.fila-paginacion{

    background-color: '#242424'; 
    color: white; 

}

.tabla-fila{

    background-color: #242424;
    color:white !important; 

}

.table-pagination{
    background-color: #242424;
    color: white !important;
}